[submodule "ECMASystem7"]
	path = ECMASystem7
	url = https://github.com/astnohk/ECMASystem7.git
[submodule "Fcel"]
	path = lib/Fcel
	url = https://github.com/astnohk/Fcel.git
[submodule "Wave_simulator_ECMA"]
	path = lib/Wave_simulator_ECMA
	url = https://github.com/astnohk/Wave_simulator_ECMA.git
[submodule "lib/ECMAOS7"]
	path = lib/ECMAOS7
	url = https://github.com/astnohk/ECMAOS7.git
[submodule "lib/Fcel"]
	path = lib/Fcel
	url = https://github.com/astnohk/Fcel.git
[submodule "lib/ECMASystem7"]
	path = lib/ECMASystem7
	url = https://github.com/astnohk/ECMASystem7.git
[submodule "GalaxySimulator"]
	path = GalaxySimulator
	url = https://github.com/astnohk/GalaxySimulator.git
[submodule "lib/GalaxySimulator"]
	path = lib/GalaxySimulator
	url = https://github.com/astnohk/GalaxySimulator.git
