/* For To-Do Tabs */
input[type="radio"].ToDoGroupRadioButton + label {
	display: flex;
	align-items: center;
	height: 100%;
	border-bottom: 0;
	border-color: rgba(240, 240, 240, 0.9);
	border-radius: 0;
	color: rgb(248, 248, 248);
	background-color: rgba(0, 0, 0, 0.8);
}
input[type="radio"].ToDoGroupRadioButton:checked + label {
	border-color: rgba(240, 240, 240, 0.9);
	background-color: rgba(160, 0, 0, 0.8);
}

/* ToolBox buttons */
input[type="button"].classButtonToolBox {
	margin-left: 4px;
	margin-right: 4px;
	height: 28px;
	font-size: 20px;
}

#ClockBox {
	position: absolute;
	top: 12px;
	left: 30px;
	height: 28px;
	padding: 4px;
	font-size: 20px;
	font-weight: bold;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(96, 96, 96, 0.8);
	color: rgb(240, 240, 240);
	background-color: rgba(20, 20, 20, 0.8);
	cursor: default;
}
#UpperRightMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
	z-index: 100;
	position: fixed;
	top: 0px;
	right: 0px;
}
.MenuBar {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
.MenuDropdown {
	display: flex;
	flex-wrap: nowrap;
}
#MySettingsMenu {
	margin: 2px;
	margin-top: 4px;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.5);
}
.classMySettingsMenu {
	margin: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(25, 25, 60, 0.8);
	padding-left: 2px;
	padding-right: 2px;
	font-size: 16px;
	color: rgba(0, 0, 0, 1.0);
	background-color: rgba(255, 255, 255, 0.8);
	white-space: nowrap;
	cursor: pointer;
}
#ToolBox {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	position: absolute;
	top: 54px;
	left: 30px;
	background-color: rgba(0, 0, 0, 0.0);
	white-space: nowrap;
}
#ToolForm {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	height: 40px;
	outline-color: rgba(128, 0, 0, 0.8);
	outline-style: solid;
	outline-width: 2px;
	color: rgb(240, 240, 240);
	background-color: rgba(64, 32, 24, 0.5);
	white-space: nowrap;
}
@keyframes popupLoginVariance {
	0% {opacity: 0.0; left: 35%;}
	100% {opacity: 1.0; left: 40%;}
}
#LoginOverlay {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 20, 0.9);
	animation-name: popupOpacityVariance;
	animation-duration: 1.6s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}
#LoginBox {
	z-index: 100;
	position: absolute;
	top: 40%;
	left: 40%;
	height: 140px;
	width: 290px;
	padding: 7px;
	outline-style: solid;
	outline-width: 8px;
	outline-color: #0080D0;
	background-color: rgba(200, 255, 255, 0.8);
	animation-name: popupLoginVariance;
	animation-duration: 1.2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}
#ScheduleOnCalendarBox {
	position: absolute;
	top: 20px;
	left: 590px;
	height: 530px;
	width: 300px;
	border-style: ridge;
	border-width: 2px;
	border-color: #000000;
	border-radius: 2px;
	padding: 4px;
	font-size: 20px;
	color: #F0F0F0;
	background-color: rgba(0, 0, 0, 0.9);
}
.tableCalendar {
	table-layout: fixed;
	position: relative;
	width: 560px;
	border-collapse: collapse;
	color: #000000;
}
th {
	position: relative;
	height: 25px;
	border-collapse: collapse;
	border-top: 1px solid #0040F0;
	border-right: 1px solid #0040F0;
	border-bottom: 1px solid #0040F0;
	border-left: 1px solid #0040F0;
	background-color: rgba(250, 250, 250, 0.96);
}
th.tableCalendar {
	position: relative;
	height: 25px;
	border-collapse: collapse;
	border-top: 1px solid #0040F0;
	border-right: 1px solid #0040F0;
	border-bottom: 1px solid #0040F0;
	border-left: 1px solid #0040F0;
	background-color: rgba(255, 255, 255, 0.96);
}
td.tableCalendar {
	position: relative;
	height: 80px;
	border-collapse: collapse;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	vertical-align: top;
	text-align: left;
	background-color: rgba(210, 255, 255, 0.96);
}
.todayMarkOnCalendar {
	height: 28px;
	width: 28px;
	border-style: solid;
	border-width: 2px;
	border-color: #FF4040;
	border-radius: 14px;
}
.scheduleMarkOnCalendar {
	position: absolute;
	right: 15px;
	bottom: 15px;
	height: 22px;
	width: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #FF0000;
	border-radius: 12px;
	background-color: #D00000;
	cursor: default;
}
.ToDoList {
	position: absolute;
	left: 5px;
	width: 770px;
	padding: 2px;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgba(240, 240, 240, 0.5);
	background-color: rgba(20, 20, 20, 0.8);
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	transition-property: top;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}
.ToDoState, .ToDoTODO, .ToDoDOING, .ToDoDONE {
	position: absolute;
	right: 0;
	width: 75px;
	background-color: rgba(0, 0, 0, 0.0);
	white-space: nowrap;
	cursor: pointer;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}
@keyframes lightingAnimation {
	0% {background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(20, 20, 20, 0.6) 10%, rgba(255, 255, 255, 0.6) 50%, rgba(20, 20, 20, 0.6) 90%, rgba(0, 0, 0, 0.0));}
	50% {background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(23, 23, 23, 0.6) 10%, rgba(250, 250, 250, 0.6) 50.3%, rgba(23, 23, 23, 0.6) 90%, rgba(0, 0, 0, 0.0));}
	100% {background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(20, 20, 20, 0.6) 10%, rgba(255, 255, 255, 0.6) 49.7%, rgba(20, 20, 20, 0.6) 90%, rgba(0, 0, 0, 0.0));}
}
.lightingToDoList {
	position: absolute;
	top: 0px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(20, 20, 20, 0.6) 10%, rgba(255, 255, 255, 0.6) 50%, rgba(20, 20, 20, 0.6) 90%, rgba(0, 0, 0, 0.0));
	animation-name: lightingAnimation;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.PopupNoteOnPopupToDo {
	position: absolute;
	left: 140px;
	min-width: 100px;
	padding: 4px;
	padding-bottom: 36px;
	font-size: 20px;
	color: #F0F0F0;
	background-color: rgba(0, 0, 0, 0.9);
	border-style: ridge;
	border-width: 5px;
	border-color: rgba(240, 240, 240, 0.5);
}
.BlackBoard {
	position: relative;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(80, 80, 80, 0.9);
	border-radius: 2px;
	font-size: 20px;
	color: #F0F0F0;
	background-color: rgba(0, 0, 0, 0.9);
}

#Readme {
	position: absolute;
	top: 10px;
	left: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 255, 255);
	height: 11px;
	width: 11px;
	background-color: rgb(255, 0, 0);
	outline-style: solid;
	outline-width: 3px;
	outline-color: rgb(255, 0, 0);
}

#Menu {
	position: absolute;
	top: 70px;
	left: 80px;
	border: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

