#FcelPool {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	height: 1080px;
	width: 1920px;
}

#FcelToolbar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	top: 2px;
	left: 230px;
}

.FcelTools {
	display: flex;
	margin: 2px;
	margin-left: 14px;
	padding-left: 10px;
	padding-right: 10px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgb(255, 100, 100);
	font-size: 38px;
	color: rgb(255, 100, 100);
	cursor: pointer;
}

input[type="text"].Fcel, input[type="password"].Fcel {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
	height: 40px;
	width: 200px;
	margin: 0;
	padding: 4px;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(196, 196, 196, 0.8);
	outline-style: none;
	outline-width: 4px;
	outline-color: rgba(255, 0, 0, 0.7);
	font-size: 20px;
	color: rgb(240, 240, 240);
	background-color: rgba(20, 20, 20, 0.8);
}

input[type="text"].FcelSum, input[type="password"].FcelSum {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
	height: 40px;
	width: 200px;
	margin: 0;
	padding: 4px;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(80, 80, 255, 0.8);
	outline-style: none;
	outline-width: 4px;
	outline-color: rgba(255, 0, 0, 0.7);
	font-size: 20px;
	color: rgb(240, 240, 240);
	background-color: rgba(20, 20, 20, 0.8);
}

input[type="text"].FcelProd, input[type="password"].FcelProd {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
	height: 40px;
	width: 200px;
	margin: 0;
	padding: 4px;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(40, 200, 200, 0.8);
	outline-style: none;
	outline-width: 4px;
	outline-color: rgba(255, 0, 0, 0.7);
	font-size: 20px;
	color: rgb(240, 240, 240);
	background-color: rgba(20, 20, 20, 0.8);
}

#FcelLayerTools {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 40px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(200, 200, 200, 0.6);
	outline-offset: 6px;
}

#FcelLayerSelector {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	top: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	left: 0;
	width: 40px;
	padding-bottom: 20px;
}

.FcelLayerSelectorControl {
	display: flex;
	position: relative;
	font-size: 30px;
	color: rgb(240, 240, 240);
}

.FcelLayerSelectorLayer {
	display: flex;
	position: relative;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 40px;
	margin-bottom: -20px;
	outline-style: none;
	outline-width: 4px;
	outline-color: rgba(250, 250, 250, 0.9);
	background-color: rgba(255, 0, 0, 0.5);
	cursor: pointer;
}

